/* .request-page{
    overflow: hidden;
    height: 100vh;
}

.search-bar {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 22vw;
    border-radius: 50px;
    margin-right: 2vw;
}

.search-entries{

}
.search-entries .entries-change{
}

.mid-container{
    height: 60vh;
    display: flex;
    
}

.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
    justify-content: center;
}
.input-box {
    height: 7vh;
    width: 65%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}
.input-box:focus {
    outline: none;
}
.input-submit{
    position: absolute;
    margin: 12px;
    right: 12vw;
    border: none;
    font-size: 14px;
    color: black;
    transition: 0.2s all;
    display: flex;
    align-items: center;
    justify-content: center;
}



.table-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}
table{
    height: 75%;
    border: none;
}

thead tr{
    height: 30px;
}

.my-table{
    margin-left: 3vw;
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    
}



.card-head{
    box-shadow: 0 0 5px 0.5px rgba(0, 0, 0, 0.5);
    background-color: #018BD3;
    color: white;
    font-weight: bolder;
}
.card-hover{
    box-shadow: 0 0 5px 0.2px rgba(0, 0, 0, 0.2);
}
.card-hover:hover{
    background-color: rgb(235, 231, 231);
  }


.width-data{
    width: 10vw;
}

.width-icon{
    width: 5vw;
}

.edit-icon{
    color: #2f74c0;
}

.delete-icon{
    color: red;
}

.pagination{
    position: fixed;
    right: 40%;
    bottom: 2%;
    z-index: 3;
}

.pagination .page-item{
    margin: 0;
}

.pagination .page-item span{
    background-color: aliceblue;
    width: 100%;
    padding: 15px;
} */